<%- include('../partials/head'); %>

    <main>

        <body>
            <%- include('../partials/connect_page'); %>
            <%- include('../partials/player_page'); %>
        </body>
    </main>