<div class="player-page main-container page_hidden" id="player_page" onclick="toggleControls()">
    <div class="background-container" id="background-images">
        <img class="background-image selected"
            src="">
    </div>
    <div class="player-container">
        <div class="player-inner-container">
            <div class="player-left">
                <div id="cover-images">
                    <img class="cover-photo selected" crossorigin="anonymous" .
                        src="">
                </div>
            </div>
            <div class="player-right">
                <span id="trackName"></span>
                <span id="albumName"></span>
                <span id="duration"></span>

            </div>
        </div>
        <div class="player-lower">


            <div class="player-timeline">
                <span id="timelineCurrent">0:00</span>
                <input type="range" min="1" max="100" value="0" class="track-scrubber" oninput="trackScrubbing(event);" onchange="trackScrubbed(event);">
                <span id="timelineMax"></span>
            </div>

            <div class="player-controls hidden">
                <span class="material-symbols-outlined" onclick="previousTrack(event)">
                    skip_previous
                </span>
                <span class="material-symbols-outlined" onclick="togglePause(event, this)">
                    pause
                </span>
                <span class="material-symbols-outlined" onclick="nextTrack(event)">
                    skip_next
                </span>
            </div>
        </div>


    </div>

</div>